body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}

body, html {
  height: 100%;
  line-height: 1.8;
}

/* Full height image header */
.custom-background-image {
  background-position: center;
  background-size: cover;
  background-image: url("background.jpg");
  min-height: 100%;
  filter: grayscale(70%);
}

.w3-bar .w3-button {
  padding: 16px;
}

.custom-heading-text {
  color: #ffffff;
  text-shadow: 2px 2px 4px #000000;
  white-space: nowrap;
}

.custom-register-button {
  background-color: #fcbb00;
  border-radius: 30px;
  white-space: nowrap;
}

.w3-display-bottomleft .fa:hover {
  color: #FCBB00;
}

.custom-contact-icon {
  padding:24px 48px;
}

.custom-form-icon-colour {
  color:#fcbb00;
}

.custom-exit-icon-colour {
  color:#E13333;
  opacity: 0.85;
}

.custom-input-size {
  font-size:small;
  border-radius: 10px;
}

.custom-input-size:focus {
  outline: none !important;
  box-shadow: 0 0 10px #fcbb00;
}

.custom-section-display {
  display: flex; 
  justify-content: center; 
  align-items: center;
  margin-bottom: -20px;
  margin-top: 10px;
}

.custom-form-button {
  border-radius: 20px;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 20px;
}